*{
    box-sizing: border-box;
    margin: 0px;
}

/* Default width of body element is set to 100% of the viewport width */
/* And Default height is set auto and 'auto' allows it to determined the height by the content within the body  */

.fullscreen{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header{
    position: relative;
    height: 100px;
    width: 100%;
    background-image: url("header-back-img.png");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 5px 0px rgb(116, 114, 114);
}

.heading{
    position: relative;
    padding-left: 40px;
    font-size: 40px;
    color: rgb(42, 118, 149);
}

#create-button{
    position: relative;
    padding: 0px 20px 0px 0px;
    right: 20px;
    background: none;
    border: none;
}

.fa-circle-plus{
    font-size: 50px;
    color: #237923;
}

.fa-circle-plus:hover{
    box-shadow: 0px 0px 5px 0px rgb(116, 114, 114);
}

.list-container{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-popup-card{
    position: fixed;
    top: 70px;
    left: 35%;
    height: 180px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgb(49, 49, 49);
    background-color: white;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
}

#create-close-button{
    position: relative;
    height: 30px;
    width: 10%;
    left: 89%;
    top: 5px;
    font-size: 25px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
}

#create-close-button:hover{
    color: rgb(249, 8, 8);
    box-shadow: 0px 0px 5px 0px rgb(85, 85, 85);
}

.create-popup-card h1{
    font-size: 20px;
    font-family: sans-serif;
    position: relative;
    margin: 5px 20px 5px 20px;
}

#create-submit-button{
    position: relative;
    height: 25px;
    width: 75px;
    left: 20px;
    top: 10px;
    font-size: 16px;
    font-family: auto;
    background-color: rgb(227, 226, 226);
}

#create-submit-button:hover{
    box-shadow: 0px 0px 5px 0px rgb(96, 95, 95);
}

#listname_textarea{
    margin-left: 20px;
    height: 28px;
    width: 300px;
    font-size: 14px;
    font-family: system-ui;
    text-transform: uppercase;
    border: solid 2px;
    resize: none;
}

#listname_textarea:hover{
    border: 2px solid rgb(43, 186, 243);
}

.list-card{
    position: relative;
    margin-top: 50px;
    min-height: 300px;
    width: 90%;
    border: solid 2px black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-header{
    position: relative;
    min-height: 35px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.listname_header{
    font-size: 20px;
    position: relative;
    margin: 5px 20px 5px 20px;
    color: rgb(42, 118, 149);
}

.button-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#add-button, #delete-button{
    position: relative;
    margin: 5px 5px 0px 0px;
    font-size: 17px;
    font-family: auto;
    /* color: green; */
    background: none;
    border: none;
    box-shadow: 0px 0px 2px 0px gray;
}

#add-button:hover, #delete-button:hover{
    box-shadow: 0px 0px 5px 0px gray;
}

.fa-plus{
    color: green;
    padding-right: 5px;
}

.fa-trash{
    color: red;
    padding-right: 7px;
}

.complete-list, .incomplete-list{
    position: relative;
    min-height: 110px;
    width: 90%;
    margin: 5px;
    border: solid 2px black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.list-popup-card{
    position: fixed;
    top: 70px;
    left: 35%;
    height: 250px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgb(49, 49, 49);
    background-color: white;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
}

#list-close-button{
    position: relative;
    height: 30px;
    width: 10%;
    left: 89%;
    top: 5px;
    font-size: 25px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
 }

#list-close-button:hover{
    color: rgb(249, 8, 8);
    box-shadow: 0px 0px 5px 0px rgb(85, 85, 85);
}

.Additem-cardheader, .Additem-cardStatusHeader{
    font-size: 15px;
    font-family: sans-serif;
    position: relative;
    margin: 5px 0px 0px 20px;
}

#list-item-textarea{
    margin-left: 20px;
    height: 56px;
    width: 300px;
    font-size: 14px;
    font-family: system-ui;
    text-transform: uppercase;
    border: solid 2px;
    resize: none;
}

#list-item-textarea:hover{
    border: 2px solid rgb(43, 186, 243);
}

.input-div{
    top: 10px;
    position: relative;
    display: flex;
}

input[type="radio"] {
    transform: scale(1.0); 
    margin-left: 5%; 
}

.input-name{
    font-size: 12px;
    font-family: sans-serif;
    position: relative;
    margin: 5px 20px 5px 20px;
}

#list-submit-button{
    position: relative;
    height: 25px;
    width: 75px;
    left: 20px;
    top: 10px;
    font-size: 16px;
    font-family: auto;
    background-color: rgb(227, 226, 226);
}

#list-submit-button:hover{
    box-shadow: 0px 0px 5px 0px rgb(96, 95, 95);
}

.c-list-item-card, .in-list-item-card{
    position: relative;
    margin: 7px;
    padding: 4px;
    border: solid 1px rgb(4, 252, 4);
    box-shadow: 0px 0px 1px 0px rgb(3, 251, 3);
    font-family: math;
}

.in-list-item-card{
    border: solid 1px rgb(251, 3, 3);
    box-shadow: 0px 0px 1px 0px rgb(251, 3, 3);
} 

.c-list-item-card:hover{
    box-shadow: 0px 0px 5px 0px rgb(3, 251, 3);
}

.in-list-item-card:hover{
    box-shadow: 0px 0px 5px 0px rgb(251, 3, 3);
}

.listitem-popup-card{
    position: fixed;
    top: 70px;
    left: 35%;
    height: 180px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgb(49, 49, 49);
    background-color: white;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
}

#listitem-close-button{
    position: relative;
    height: 30px;
    width: 10%;
    left: 89%;
    top: 5px;
    font-size: 25px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
}

#listitem-close-button:hover{
    color: rgb(249, 8, 8);
    box-shadow: 0px 0px 5px 0px rgb(85, 85, 85);
}

.changeStatus-header, .deleteItem-header{
    font-size: 15px;
    font-family: sans-serif;
    position: relative;
    margin: 5px 0px 0px 20px;
}

#listitem-changestatus-button, #listitem-delete-button{
    position: relative;
    height: 25px;
    width: 75px;
    left: 20px;
    top: 10px;
    font-size: 16px;
    font-family: auto;
    background-color: rgb(227, 226, 226);
}

#listitem-changestatus-button:hover, #listitem-delete-button:hover{
    box-shadow: 0px 0px 5px 0px rgb(96, 95, 95);
}